<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Report Generator</title>
</head>
<body>

    <h1>Feedback Report Generator</h1>
      
    <div id="status">{{ report }}</div>
    <div id="result">{{ report.task_status }}</div>

    <a href="/{{ report.file_path }}">View Report</a>
    <a href="">Download Report</a>

    <script>
        {% if report.task_status != "COMPLETED" %}
        setTimeout(function() {
            window.location.reload();
        }, 3000);
        {% endif %}
    </script>    

</body>
</html>